*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 5px;
    height: 130px;
    width: 100%;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.line{
    display: none;
}
.header-link{
    display: flex;
    margin-right: 20px;
}
.header-link-2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.header-icon{
    padding-right: 100px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
li a{
    text-decoration: none;
}
ul li a{
    font-weight:1000;
    color: #444444;
}
.image_smal_size{
    display: none;
}
.image_swip{
    padding-top: 100px;
    animation-name: trance;
    height: 600px;
    width: 100%;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
.conten_letter1{
    position: sticky;
    top: 100px;
    top: 350px;
    color: white;
    width: 600px;
    left: 100px;
    animation-name: tran;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.conten_letter1 button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
}
@keyframes tran{
    0%{
        position: absolute;
        left: 100px;
    }
    20%{
        position: absolute;
        left: 100px;
    }
    30%{
        position: absolute;
        left: 650px;
    }
    40%{
        position: absolute;
        left: 650px;
    }
    60%{
        position: absolute;
        left: 100px;
    }
    80%{
        position: absolute;
        left: 650px;
    }
    100%{
        position: absolute;
        left: 100px;
    }
}
@keyframes trance {
    0%{
        background: url(/asserts/img/Headphone-Zone-Home-page-banner-desktop-blue-2.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    20%{
        background-image: url(/asserts/img/Headphone-Zone-iFi_Audio-ZEN_DAC-B-Stock-Homepage-Banner-Desktop-01.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    40%{
        background-image: url(/asserts/img/Headphone-Zone-Tangzu-Wan_er-S.G-2-home-page-banner-desktop.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    60%{
        background-image: url(/asserts/img/Headphone-Zone-Campfire-Audio-Alien-brain-Desktop-Homepage-Banner-01.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    80%{
        background-image: url(/asserts/img/Headphone-Zone-demo-unit-Home-page-banner-desktop-01.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    100%{
        background-image: url(/asserts/img/Headphone-Zone-Home-page-banner-desktop-blue-2.webp);
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    
    }
}

.video_div{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    column-gap: 30px;
    margin-top: 50px;
}
.video video{
    border-radius: 10px;
}
.video_content{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 100px 50px;
}
.video_content h1{
    margin: 20px 10px;
    font-size: 40px;
    color: #444444;
    
}
.video_content h2{
    color: #444444;
    font-size: 26px;
    margin: 20px 10px;
}


  .start-here-header{
    margin:auto;
    text-align: center;
    padding: 2rem;
    color:#444;
  }
  .start-here-section {
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    grid-column-gap: 8px; 
    grid-row-gap:10px; 
    width: 92%;
    text-align: center;
    margin: auto;
  }
  a{
    text-decoration: none;
  }

  /* https://leetcode.com/problems/image-smoother/description/ */

  .full-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .full-container h3{
    color: #444444;
  }
  #img1{
    width: 200px
  }
  .container1{
    width: 250px
  }
   .container2{
    width: 250px
  }
   .container3{
    width: 250px
  }
   .container4{
    width: 250px
  }
   .container5{
    width: 250px
  }
  .full-container-hidden{
    display: none;
  }
  .full-container-hidden-mobile{
    display: none;
  }
  .head{
    margin-left: 40px;
    color: #444444;
  }
  #head{
    margin-top: 40px;
  }

  .footer_full_con{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .footer_con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
  }
  .footer_con h3{
    color: #444444;
  }